{% extends 'dashboard/base.html' %}
{% load static %}

{% block title %}
<title>Metronome</title>
{% endblock title %}

{% block sheet %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'metronome/main.css' %}"/>
{% endblock sheet %}

{% block content%}
<div class="row justify-content-center">
    <div class="col-md-5.5">
        <svg width="500" height="500" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
            <circle id="circle" cx="50" cy="50" r="45" stroke="#001f3f" stroke-width="3" fill="none"/>
            <circle id="circle_2" cx="50" cy="50" r="43.5" fill="#ff392e"/>
          </svg>
    </div>
    <audio id="beat_sound" hidden>
        <source src="{% static '/metronome/pop.mp3' %}" type="audio/mp3">
    </audio>
</div>
<div class="row justify-content-center">
    <div class="col-md-1.5" id="bpm_text">BPM: </div>
    <div class="col-md-1" id="slider_label"></div>
</div>
<div class="row justify-content-center">
    <div class="col-md-4">
        <div class="range">
            <input type="range" class="form-range" id="bpm_input" value="60" min="0" max="200" />
        </div>
    </div>
</div><br>
<div class="row justify-content-center">
    <div class="col-md-1">
        <a href="#" id="play_button">
            <img src="{% static '/metronome/play-button-movie-svgrepo-com.svg' %}" />
        </a>
    </div>
</div>
{% endblock content %}

{% block js %}
    {{ block.super }}
    <script src="{% static '/metronome/metronome.js' %}"></script> 
    <script>
        $(function() {
            // dynamically change bpm display on slide
            $('#slider_label').html($('#bpm_input').val())
            $('#bpm_input').on('input', function(){
                $('#slider_label').html($('#bpm_input').val())
                bpmVal = $('#bpm_input').val()
            })
            $('#play_button').click(startMetro)
        });

        function startMetro(){
            $('#play_button').replaceWith(
                "<a href='#' id='pause_button'>  <img src=\"{% static '/metronome/music-player-pause-button-svgrepo-com.svg' %}\" /> </a>"
            );
            theInterval = startSound();
            $('#pause_button').click({interval:theInterval},pauseMetro)

            // change bpm whilst metronome still playing
            $('#bpm_input').change('input', function(){
                clearInterval(theInterval);
                theInterval = startSound();
                $('#pause_button').click({interval:theInterval},pauseMetro)
            })

        }
        
        function pauseMetro(intervalParam){
            $('#pause_button').replaceWith(
                "<a href='#' id='play_button'>  <img src=\"{% static '/metronome/play-button-movie-svgrepo-com.svg' %}\" /> </a>"
            );
            clearInterval(intervalParam.data.interval);
            $('#play_button').click(startMetro)
        }

    </script>
{% endblock js %}
