{% extends 'dashboard/base.html' %}
{% load static %}

{% block title %}
<title>Tuner</title>
    

{% endblock title %}

{% block sheet %}
    {{ block.super }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightslider/1.1.6/css/lightslider.min.css" integrity="sha512-yJHCxhu8pTR7P2UgXFrHvLMniOAL5ET1f5Cj+/dzl+JIlGTh5Cz+IeklcXzMavKvXP8vXqKMQyZjscjf3ZDfGA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="{% static 'tuner/main.css' %}"/>
{% endblock sheet %}

{% block content%}
<div class="row justify-content-center" id="freq_pointer">
    <svg width="100" height="100" viewBox="0 0 110 110">
        <polygon points="70 15, 100 100, 40 100" id="pointer_triangle" style="fill:red; stroke:#001f3f; stroke-width:3" />
    </svg>
</div>
<div class="row justify-content-center" id="slider_div">
    <div class="col-md-12">
        <ul id="light_slider" class="cS-hidden">
            {% for note in notes_list %}
                <li class="slide">
                    <p class="note_text">
                        {{note}}
                    </p>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-md-3" id="freq">Frequency</div>
</div><br>
<div class="row justify-content-center">
    <div class="col-md-1">
        <button id="start_button" class="btn btn-success">Start</button>
    </div>
</div><br><br>
<div class="row justify-content-center">
    <div class="col-md-5-offset-2">
        <h3>Standard Tuning References:</h3>
    </div>
</div>
<div class="row justify-content-center" id="instrument_refs">
    <div class="col-3" id="tab_titles"><br>
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" id="v-pills-guitar-tab" data-toggle="pill" href="#v-pills-guitar" role="tab" aria-controls="v-pills-guitar" aria-selected="true">Guitar</a>
            <a class="nav-link" id="v-pills-piano-tab" data-toggle="pill" href="#v-pills-piano" role="tab" aria-controls="v-pills-piano" aria-selected="false">Piano</a>
            <a class="nav-link" id="v-pills-violin-tab" data-toggle="pill" href="#v-pills-violin" role="tab" aria-controls="v-pills-violin" aria-selected="false">Violin</a>
            <a class="nav-link" id="v-pills-banjo-tab" data-toggle="pill" href="#v-pills-banjo" role="tab" aria-controls="v-pills-banjo" aria-selected="false">Banjo</a>
            <a class="nav-link" id="v-pills-bass-tab" data-toggle="pill" href="#v-pills-bass" role="tab" aria-controls="v-pills-bass" aria-selected="false">Bass</a>
            <a class="nav-link" id="v-pills-ukulele-tab" data-toggle="pill" href="#v-pills-ukulele" role="tab" aria-controls="v-pills-ukulele" aria-selected="false">Ukulele</a>
        </div>
    </div>
    <div class="col-5" id="tab_texts"><br>
        <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane show active" id="v-pills-guitar" role="tabpanel" aria-labelledby="v-pills-guitar-tab">
                -- 6th String - E2 - 82.41Hz --<br><br>
                -- 5th String - A2 - 110.00Hz --<br><br>
                -- 4th String - D3 - 146.80Hz --<br><br>
                -- 3rd String - G3 - 196.00Hz --<br><br>
                -- 2nd String - B3 - 246.94Hz --<br><br>
                -- 1st String - E4 - 329.63Hz --<br><br>
            </div>
            <div class="tab-pane" id="v-pills-piano" role="tabpanel" aria-labelledby="v-pills-piano-tab">
                88 keys from:<br><br>
                    A0=27.50Hz to C8=4186.01Hz
            </div>
            <div class="tab-pane" id="v-pills-violin" role="tabpanel" aria-labelledby="v-pills-violin-tab">
                -- 4th String - G3 - 196.00Hz --<br><br>
                -- 3rd String - D4 - 293.66Hz --<br><br>
                -- 2nd String - A4 - 440.00Hz --<br><br>
                -- 1st String - E5 - 659.26Hz --<br><br>
            </div>
            <div class="tab-pane" id="v-pills-banjo" role="tabpanel" aria-labelledby="v-pills-banjo-tab">
                -- 5th String - G4 - 392.00Hz --<br><br>
                -- 4th String - D3 - 146.83Hz --<br><br>
                -- 3rd String - G3 - 196.00Hz --<br><br>
                -- 2nd String - B3 - 246.94Hz --<br><br>
                -- 1st String - D4 - 293.66Hz --<br><br>
            </div>
            <div class="tab-pane" id="v-pills-bass" role="tabpanel" aria-labelledby="v-pills-bass-tab">
                -- 4th String - E1 - 41.20Hz --<br><br>
                -- 3rd String - A1 - 55.00Hz --<br><br>
                -- 2nd String - D2 - 73.42Hz --<br><br>
                -- 1st String - G2 - 98.00Hz --<br>
            </div>
            <div class="tab-pane" id="v-pills-ukulele" role="tabpanel" aria-labelledby="v-pills-ukulele-tab">
                -- 4th String - G4 - 392.00Hz --<br><br>
                -- 3rd String - C4 - 261.63Hz --<br><br>
                -- 2nd String - E4 - 329.63Hz --<br><br>
                -- 1st String - A4 - 440.00Hz --<br><br>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block js %}
    {{ block.super }}
    <script src="https://cdn.jsdelivr.net/npm/p5@1.4.0/lib/p5.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/p5@1.4.0/lib/addons/p5.sound.min.js"></script>
    <script src="https://unpkg.com/ml5@0.3.1/dist/ml5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightslider/1.1.6/js/lightslider.min.js" integrity="sha512-Gfrxsz93rxFuB7KSYlln3wFqBaXUc1jtt3dGCp+2jTb563qYvnUBM/GP2ZUtRC27STN/zUamFtVFAIsRFoT6/w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
        const notes = {};
        const noteSlides = {};
        $(function() {
            $('#start_button').click(startTuner)
            // place json data into appropriate dictionaries to be acessed in tuner.js
            var i = 0;
            $.getJSON( "{% static 'tuner/notes.json' %}", (data) => {         
                $.each(data, (note, noteFreq) => {
                    notes[noteFreq] = note
                    noteSlides[note] = i;
                    ++i;
                });
            });
        });
    </script>
    <script src="{% static '/tuner/tuner.js' %}"></script>

{% endblock js %}