<!DOCTYPE html>
<html lang="en">
<head>
    <title>Music Hub</title>
</head>
<body>
    <h1>Welcome to the your practice zone!</h1>

<form method="GET">
    <div class="container" style="background-color:#f1f1f1">
        <label for="email">E-mail address</label><br>
        <input type="text" id="email" name="email"><br><br>

        <label for="password">Password</label><br>
        <input type="text" id="password" name="password"><br><br>

        <button type="submit">
            Login
        </button>
        <label>
            <input type="checkbox" checked="unchecked" name="remember">
        </label>
        <br><br>

        <a href="">Sign Up</a>
    </div>
</form>

</body>
</html>
