<!DOCTYPE html>
<html lang="en">
<head>
    <title>Music Hub</title>
</head>
<body>
    <h1>Practise Makes Permanent So Practise Perfectly!</h1>

<form method="POST">{% csrf_token %}
    <div class="container" style="background-color:#f1f1f1">
        <label for="email">E-mail address</label><br>
        <input type="text" id="email" name="email"><br><br>

        <label for="password">Password</label><br>
        <input type="text" id="password" name="password"><br><br>

        <button type="submit" id="login_button">
            Login
        </button>
        <label>
            <input type="checkbox" checked="checked" name="remember">
        </label>
        <br><br>

        <a href="{% url 'sign_up' %}" id="sign_up"> Sign Up</a>
    </div>
</form>

</body>
</html>
