{% extends 'users/base_auth.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
<title>Sign Up</title>
{% endblock title %}

{% block content%}

{% block message %}
{% endblock message %}

<div class="content-section">
    <form method="POST">{% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Register your details here.</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">
                Sign Up
            </button>
        </div>
        <br><br>
    </form>
</div>
{% endblock content %}