{% extends 'dashboard/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
{% endblock title %}

{% block sheet %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'users/main.css' %}"/>
{% endblock sheet %}

{% block header %}
<header class="page-header">
    <div class="row">
        <div class="col-md-4 offset-1" id="header">
            <div class="row">
                <div class="col-md-2" id="logo">
                    <img src="{% static 'dashboard/music-svgrepo-com.svg' %}" alt="logo">     
                </div>
                <div class="col-md-10" id="header_text">
                    <h1><a href="{% url 'login' %}">
                        Perfectly Practiced
                    </a></h1>
                </div>
            </div>
        </div>
        <div class="col-md-5 offset-1" id="feature_links">
            <a href="" class="timer">
                Timer
            </a>
            <a href="" class="song_book">
                Song Book
            </a>
            <a href="" class="metronome">
                Metronome
            </a>
            <a href="" class="tuner">
                Tuner
            </a>
        </div>
    </div>
</header>
{% endblock header %}

{% block message %}
{% if messages %}
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }}">
        {{ message }}
      </div>
    {% endfor %}
{% endif %}
{% endblock message %}

{% block content%}
{% endblock content %}

