{% extends 'users/base.html' %}
{% load crispy_forms_tags %}
{% block content%}
{% block title %}
<title>Login</title>
{% endblock %}
<body>
<h1>Practice Makes Perfect So Practice Perfectly!</h1>
<form method="POST">{% csrf_token %}
    <div class="content-section">
        <label for="email">E-mail address</label><br>
        <input type="text" id="email" name="email"><br><br>

        <label for="password">Password</label><br>
        <input type="text" id="password" name="password"><br><br>

        <button type="submit" id="login_button">
            Login
        </button>
        <br><br>

        <a href="{% url 'sign_up' %}" id="sign_up"> Sign Up</a>
    </div>
</form>
</body>
{% endblock %}

