{% extends 'users/base.html' %}
{% load crispy_forms_tags %}
{% block content%}
{% block title %}
<title>Sign Up</title>
{% endblock %}
<body>
<h1>Register your details here.</h1>
<div class="content-section">
    <form method="POST">{% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4"></legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">
                Sign Up
            </button>
        </div>
        <br><br>
    </form>
</div>
</body>
{% endblock %}