#slogan{
  margin-bottom: 20px;
  text-align: center;
  padding: 30px 30px 30px 30px;
  border-radius: 10px;
}

.content-section {
    margin-top: 30px;
    background: #ffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    position: absolute;
    width: 500px;
    left: 50%;
    transform:translateX(-50%) scale(1.1);
  }

  #sign_up{
    font-size: medium;
  }