{% extends 'dashboard/base_dashboard.html' %}
{% load static %}

{% block goal_editing %}
    {% if goal.editing == True %}
    <form method="POST">
        <td>
            <input type="text" name="goal_cell_edit" id="goal_cell_edit" value="{{ goal.text }}" required>
        </td>
        <td>
            <input type="date" name="date_cell_edit" id="date_cell_edit" value="{{ goal.date_str }}">
        </td>
        <td id="checkbox">
            <input type="checkbox" onclick="location.href='{% url 'goal_tick' user.pk goal.pk %}'">
        </td>
        <td>
            <button type="submit" class="btn btn-light btn-sm" id="save_button"> 
                <img src="{% static 'dashboard/save-svgrepo-com.svg' %}" alt="save">
            </button>
        </td>
        {% csrf_token %}
    </form>
    {% else %}
        <td id="goal_cell">{{ goal.text }}</td>
        <td  id="date_cell">{{ goal.due_date }}</td>
        <td id="checkbox">
            <input type="checkbox" onclick="location.href='{% url 'goal_tick' user.pk goal.pk %}'">
        </td>
        <td class="edit_button">
            <a href="{% url 'goal_edit' user.pk goal.pk %}">
                <img src="{% static 'dashboard/pencil-fill.svg' %}" alt="edit">
            </a>
        </td>
    {% endif %}
{% endblock %}      

