{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/main.css' %}"/>
    <title>Dashboard</title>
</head>
<body>
    <header class="page-header">
        <div class="row">
            <div class="col-sm-7 offset-2" id="header">
                <h1><a href="/dashboard">Welcome to your practice zone!</a></h1>
            </div>
            <div class="col-sm-3" id="header-menu">
                <a href="" class="profile">
                    Profile
                </a>
                <a href="" class="settings">
                    Settings
                </a>
                <a href="" class="logout">
                    Log Out
                </a>
            </div>
        </div>
      </header>
    <div class="container">
        <div class="row">
            <div class="col-md-6" id="goals_section">
                <table id="goals_table">
                    <tr>
                        <td id="goal_heading">Goal</td>
                        <td id="date_heading">Due Date</td>
                    </tr>
                    {% for goal in goals %}
                    <tr>
                          <td id="goal_cell">{{ goal.text }}</td>
                          <td id="date_cell">{{ goal.due_date }}</td>
                          <td id="checkbox">
                                <input type="checkbox" onclick="location.href='{% url 'goal_tick' goal.pk %}'">
                          </td>
                          <td id="edit_button">
                                <a href="">
                                    {% include './icons/pencil-fill.svg' %}
                                 </a>
                          </td>
                    </tr>  
                    {% endfor %}
                    <tr>
                        <form method="POST">
                            <td>
                                <input name="goal_input" id="new_goal" placeholder="Enter a new goal" />
                            </td>
                            <td>
                                <input type="date" name="date_input" id="new_date" />
                            </td>
                            <td>
                                <button type="submit" class="btn btn-outline-success btn-sm" id="submit_button"> 
                                    +
                                </button>
                            </td>
                            {% csrf_token %}
                        </form> 
                    </tr>
                </table>
            </div> 
            <div class="col-md-6" id="calendar">
                {{ cal|safe }} 
            </div> 
        </div>
        <div class="row" id="features">
            <div class="col-sm">
                <button type="button" class="btn btn-primary btn-lg">Timer</button> 
            </div> 
            <div class="col-sm">
                <button type="button" class="btn btn-primary btn-lg">Song Book</button> 
            </div> 
            <div class="col-sm">
                <button type="button" class="btn btn-primary btn-lg">Metronome</button> 
            </div> 
            <div class="col-sm">
                <button type="button" class="btn btn-primary btn-lg">Tuner</button> 
            </div> 
            <div class="col-sm">
                <button type="button" class="btn btn-primary btn-lg">Log</button> 
            </div> 
        </div>
</div>






    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>