{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/main.css' %}"/>
    <title>Dashboard</title>
</head>
<body>
    <header class="page-header">
        <div class="row">
            <div class="col-sm-7 offset-2" id="header">
                <h1><a href="/dashboard">Welcome to your practice zone!</a></h1>
            </div>
            <div class="col-sm-3" id="header-menu">
                <a href="" class="profile">
                    Profile
                </a>
                <a href="" class="settings">
                    Settings
                </a>
                <a href="" class="logout">
                    Log Out
                </a>
            </div>
        </div>
      </header>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <form method="POST">
                    <input name="goal_text" id="id_new_goal" placeholder="Enter a goal" />
                    {% csrf_token %}
                </form> 
            </div> 
            <div class="col-sm" id="calendar">
                {{ cal|safe }} 
            </div> 
        </div>
    <br><br>
        <div class="row" id="features">
            <div class="col-sm">
                <button type="button" class="btn btn-primary btn-lg">Timer</button> 
            </div> 
            <div class="col-sm">
                <button type="button" class="btn btn-primary btn-lg">Song Book</button> 
            </div> 
            <div class="col-sm">
                <button type="button" class="btn btn-primary btn-lg">Metronome</button> 
            </div> 
            <div class="col-sm">
                <button type="button" class="btn btn-primary btn-lg">Tuner</button> 
            </div> 
            <div class="col-sm">
                <button type="button" class="btn btn-primary btn-lg">Log</button> 
            </div> 
        </div>
</div>






    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>