{% extends 'dashboard/base.html' %}
{% load static %}

{% block title %}
<title>Timer</title>
{% endblock title %}

{% block sheet %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'timer/main.css' %}"/>
{% endblock sheet %}

{% block content%}
<div class="row">
    <div class="col-md-4" id="input_section">
        <h5 class="subtitles">Add a task, time and colour to see it appear on the timer.</h5><br>
        <div class="row">
            <div class="col-md-7">
                <label for="task_input">Task:</label>
            </div>
            <div class="col-md-4">
                <label for="time_input">Time (mins):</label>
            </div>
        </div>
        <form method="POST" id="task_form">
            <div class="row">
                <div class="col-md-7">
                    <div class="input-group input-group-lg">
                        <input type="text" name="task_input" id="task_input" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" required>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="input-group input-group-lg" id="time_input">
                        <input type="number" min="1" name="time_input" id="time_input" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" required>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <input type="color" id="colour_input" name="colour_input" value="#ff0000">
                            <button id="add_button" class="btn btn-outline-success" type="submit">+</button>
                        </div>
                    </div>
                </div>
            </div>
            {% csrf_token %}
        </form><br><br>
            {% for task in tasks %}
                <ul class="list-group">
                    <li id="task_item_{{ forloop.counter0 }}" class="list-group-item d-flex justify-content-between align-items-center" style="background-color:{{task.colour}}80">
                        {{task.text}} : {{task.time}} mins
                        <a class="badge badge-danger badge-pill" 
                        id="delete_button_{{ forloop.counter0 }}" href="{% url 'task_delete' user.pk task.pk %}"> 
                            x
                        </a>
                    </li>
                </ul>
            {% endfor %}
    </div>
    <div class="col-md-8" id="timer_section">
        <svg  class="timer_svg" xmlns="http://www.w3.org/2000/svg">
            <g class="timer_group"></g>
        </svg>
        <span id="timer_label"></span>
        
        {{time_list|json_script:"time_list"}}
        {{colour_list|json_script:"colour_list"}}
        <button class="btn btn-success" id="timer_button">
            Start
        </button>
        <button class="btn btn-primary" id="reset_button" onclick="window.location.reload()">
            Reset
        </button>
        <audio id="start_sound" hidden>
            <source src="{% static '/timer/timer_start.mp3' %}" type="audio/mp3">
        </audio>
        <audio id="end_sound" hidden>
            <source src="{% static '/timer/timer_finish.mp3' %}" type="audio/mp3">
        </audio>
        <div class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Time's Up!</h5>
                        <button onClick="window.location.reload()" type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Good work out there!</p>
                    </div>
                    <div class="modal-footer">
                        <button onClick="window.location.reload()" type="button" class="btn btn-primary" data-dismiss="modal">Cheers</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block js %}
    {{ block.super }}
    <script src="{% static '/timer/timer.js' %}"></script>
    {% comment %} <script>
        $(document).ready(function () {
        window.Musicsite.initialize();
        });
    </script>  {% endcomment %}
{% endblock js %}
