{% extends 'dashboard/base.html' %}
{% load static %}

{% block title %}
<title>Timer</title>
{% endblock title %}

{% block sheet %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'timer/main.css' %}"/>
{% endblock sheet %}

{% block content%}
<div class="row">
    <div class="col-md-4" id="input_section">
        <div class="row">
            <div class="col-md-7">
                <label for="task_input">Task:</label>
            </div>
            <div class="col-md-4">
                <label for="time_input">Time (mins):</label>
            </div>
        </div>
        <form method="POST" id="task_form">
            <div class="row">
                <div class="col-md-7">
                    <div class="input-group input-group-lg">
                        <input type="text" name="task_input" id="task_input" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" required>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="input-group input-group-lg" id="time_input">
                        <input type="number" name="time_input" id="time_input" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" required>
                    </div>
                </div>
                <div class="col-md-2">
                    <input type="color" id="colour_input" name="colour_input" value="#ff0000">
                    <button type="submit" class="btn btn-outline-success btn-sm" id="add_button"> 
                        +
                    </button>
                </div>
            </div>
            {% csrf_token %}
        </form><br><br>
            {% for task in tasks %}
                <ul class="list-group">
                    <li id="task_item_{{ forloop.counter0 }}" class="list-group-item d-flex justify-content-between align-items-center" style="background-color:{{task.colour}}80">
                        {{task.text}} : {{task.time}} mins
                        <span class="badge badge-danger badge-pill">
                            <a id="delete_button"> 
                                x
                            </a>
                        </span>
                    </li>
                </ul>
            {% endfor %}
    </div>
    <div class="col-md-8" id="timer_section">
        <svg  class="timer_svg" xmlns="http://www.w3.org/2000/svg">
            <g class="timer_group"></g>
        </svg>
        <span id="timer_label"></span>
        {{total_time|json_script:"total_time"}}
        {{time_list|json_script:"time_list"}}
        {{colour_list|json_script:"colour_list"}}
        <button class="btn btn-success" id="timer_button">
            Start
        </button>
    </div>
</div>
{% endblock content %}

{% block js %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{% static '/timer/timer.js' %}"></script>
    {% comment %} <script>
        $(document).ready(function () {
        window.Musicsite.initialize();
        });
    </script>  {% endcomment %}
{% endblock js %}
