.page-header{
    background-color: #001f3f;
    margin-bottom: 50px;
    padding: 20px;
}
.page-header h1,
.page-header h1 a,
.page-header h1 a:visited,
.page-header h1 a:active {
    color: #3badad;
    text-decoration: none;
}
#logo{
    margin-top: 10px;
}
#header_text{
    margin-top: 15px;
}
#feature_links{
    margin-top: 25px;
}
.timer, .song_book, .metronome, .tuner{
    font-size: 25px;
    margin-right: 20px;
    color: white;
    text-decoration: none;
    
}
.timer:hover, .song_book:hover, .metronome:hover, .tuner:hover{
    color: #3badad;
    text-decoration: none;
    
}
.profile:hover, .settings_link:hover, .logout:hover {
    color: white;
    text-decoration: none;
}
.f_name{
    margin-top: 15px;
    color: orange;
}
.logout {
    color: #3badad;
    text-decoration: none;
    font-size: large;
}

body {
    background: #fafafa;
    color: #333333;
    font-family: 'Raleway', sans-serif;
}

#goals_table{
    transform:scale(1.2);
    margin-top: 12px;
    margin-right: 50px;
}

#goal_heading{
    font-size: 20px;
    padding: 5px;
    background-color: #0B3C5D;
    color: white;
    width: 400px;
    
}
#date_heading {
    font-size: 20px;
    padding: 5px;
    background-color: #0B3C5D;
    color: white;
    width: 50px;
}

#goal_cell{
    padding: 5px;
    box-shadow: rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
#date_cell {
    padding: 5px;
    box-shadow: rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

#checkbox{
    padding-left: 7px;
    transform: scale(1.2);
}

#goal_input{
    margin-top: 10px;
    box-shadow:  #001f3f 0px 0px 0px 0px;
    width:100%;
}

#date_input{
    margin-top: 10px;
    box-shadow: #001f3f 0px 0px 0px 0px;
}

#add_button{
    margin-top: 10px;
    font-weight: bold;
    margin-left: 1px;
    transform: scale(0.9);
}

#goal_cell_edit{
    width: 100%;
}

#save_button{
    margin-top: 3px;
    border: none;
    background-color: transparent;
    outline: none;
}


.text-center.month {
    margin: 0 auto;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    position: relative;
    z-index: 10;
    margin-bottom: 5px;
}


.month tbody .month{
    font-weight: normal;
    text-align: center;
    font-size: 30px;
    padding: 20px;    
    background-color: #0B3C5D;
    color: white;
}

.month tbody tr{
    padding: 20px;
}

.month tbody :nth-of-type(2) .mon,
.month tbody :nth-of-type(2) .tue,
.month tbody :nth-of-type(2) .wed,
.month tbody :nth-of-type(2) .thu,
.month tbody :nth-of-type(2) .fri,
.month tbody :nth-of-type(2) .sat,
.month tbody :nth-of-type(2) .sun {
    font-weight: normal;
    font-size: 20px;
    padding: 10px 20px;    
    background-color: #F2F2F2;
    color: #383b40;
}

.month tbody :nth-of-type(3),
.month tbody :nth-of-type(4),
.month tbody :nth-of-type(5),
.month tbody :nth-of-type(6),
.month tbody :nth-of-type(7), 
.month tbody :nth-of-type(8){
    font-size: 20px;
    padding: 20px;
}

.carousel-control-prev-icon, 
.carousel-control-next-icon {
     align-self: flex-start; 
     margin-top: 30px;

}