#task_input{
    font-size: medium;
    /* margin-top: 13px; */
}
#time_input{
    font-size: medium;
    width: 80px;
    /* margin-top: 6px; */
}

#add_button{
    font-size: medium;
    width: 30px;
    /* margin-right: 5px; */
}

#colour_input{
    width: 30px;
}

#timer_section{
    height: 1000px;
    width: 1000px;
}

.timer_svg{
    height: 1000px;
    width: 1000px;
}

.timer_group{
    fill: none;
    stroke: none;
}

#timer_label{
    position: absolute;
    font-size: 100px;
    left: 330px;
    bottom: 600px;
}

#timer_button{
    position: absolute;
    left: 420px;
    bottom: 270px;
    transform: scale(2);

}

.timer_circle{
    stroke-width: 20;
    fill: none;
}